---
import { getCollection } from "astro:content";
import { Details } from "../../views/Details";
import { Shell } from "../../components/Shell";

export async function getStaticPaths() {
  const array = await getCollection("software");

  return array.map(({ id, data }) => ({
    params: { id },
    props: { data },
  }));
}

const props = Astro.props.data;
---

<html>
  <head><title>{props.label}</title></head>

  <body>
    <Details {...props} client:load />
  </body>
</html>
