.wrapper {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.title {
  font-size: 1.25rem;
  padding-left: 0.25rem;
  font-weight: 700;
  letter-spacing: 0;
  color: #24224b;
  margin: 0 0 0.4rem 0;
}

.content {
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  width: 100%;
  overflow: hidden;
}

.item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 4rem;
  width: 100%;
}

.item:not(:first-child) {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}
