.wrapper {
  min-height: 100vh;

  /* background: #f1ede7; */

  background: linear-gradient(
    180deg,
    rgba(251, 249, 247, 1) 0%,
    rgba(251, 249, 247, 0) 100%
  );
}

.header {
  position: sticky;
  top: -3.5rem;
  left: 0;
  transition: top 0.3s ease-in-out;
  z-index: 110;

  background: #24224b;
  box-shadow: rgba(60, 64, 67, 0.05) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.05) 0px 2px 6px 2px;
}

.header.up {
  top: 0;
}

.top {
  height: 3.5rem;
  display: flex;
  align-items: center;
  padding: 0 0 0 1rem;
  justify-content: space-between;
  color: white;

  @media (min-width: 10rem) {
    padding: 0 1.5rem;
  }
}

/* .main { */
/* padding: 1rem;

  @media (min-width: 70rem) {
    padding: 2rem;
  } */
/* } */

.logo {
  height: 2rem;
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
}
