---
import { getCollection } from "astro:content";
import { Container, type ContainerProps } from "@/templates/List";

export async function getStaticPaths() {
  const array = await getCollection("categories");
  const software = await getCollection("software");

  return array.map(({ id, data }) => {
    const props: ContainerProps = {
      column: 0,
      page: 0,
      description: data.description,
      title: data.label,
      software: software.map((x) => x.data),
    };

    return {
      params: { id },
      props,
    };
  });
}

const props = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{props.title}</title></head
  >

  <body>
    <Container {...props} client:load />
  </body>
</html>
