.wrapper {
  display: flex;
  gap: 3rem;
  margin: 1rem auto 10rem;
  flex-direction: column;
  max-width: 90rem;

  @media (min-width: 90rem) {
    flex-direction: row;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-grow: 1;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
  width: 100%;

  @media (min-width: 70rem) {
    max-width: 25rem;
    gap: 4rem;
  }
}

.breadcrumbs {
  display: none;

  @media (min-width: 70rem) {
    display: block;
  }
}
