.wrapper {
  background: white;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  text-align: center;

  box-shadow: rgba(60, 64, 67, 0.05) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.05) 0px 2px 6px 2px;

  @media (min-width: 70rem) {
    height: 11rem;
    flex-direction: row;
    text-align: left;
    padding: 1rem 2rem;
  }
}

.logoWrap {
  height: 7rem;
  width: 7rem;
  background: #db392720;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 5rem;
  width: 5rem;
  object-fit: contain;
}

.title {
  font-weight: 800;
  font-size: 1.25rem;
  margin: 0;
  padding-bottom: 0.5rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-height: 0.8;
  letter-spacing: -0.5px;

  line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;

  @media (min-width: 70rem) {
    font-size: 2.5rem;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;

  @media (min-width: 70rem) {
    align-items: flex-start;
  }
}

.indicatorWrap {
  display: flex;
  gap: 0.25rem;
  justify-content: center;

  @media (min-width: 70rem) {
    justify-content: flex-start;
  }
}

.link {
  color: #24224b;
  text-decoration: underline;
  font-weight: 600;
  display: inline-flex;
  font-size: 0.8rem;

  @media (min-width: 70rem) {
    font-size: 1rem;
  }
}

.link:hover {
  background: #24224b10;
  cursor: pointer;
  border-radius: 8px;
  padding: 0.5rem 0.75rem;
  margin: -0.5rem -0.75rem;
}

.link:active {
  background: #24224b20;
}
