.wrapper {
  background: white;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transform: scale(1);
  transition: transform 0.1s;
  height: calc(100% - 1rem);
}

.wrapper:active {
  transform: scale(0.98);
}

.stackWrapper {
  overflow: hidden;
  width: 100%;
  height: calc(100% - 4.25rem);
}

.stack {
  display: flex;
  transition: transform 0.3s ease;
  position: relative;
  border: 1px solid blue;
  height: 100%;
}

.column {
  width: 16rem;
  border-right: 1px solid rgba(0, 0, 0, 0.05);
  height: 100%;
  padding-bottom: 1rem;
  /* opacity: 0; */

  position: absolute;
  left: 0;
  top: 0;

  border: 1px solid red;
}

@media (min-width: 30rem) {
  .column {
    opacity: 1;
  }
}

.image {
  height: 2rem;
  width: 2rem;
}

.icon {
  background: rgba(0, 0, 0, 0.05);
  height: 3rem;
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
}

.top {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.label {
  font-size: 1.25rem;
  font-weight: 800;
  line-height: 0.9;
  padding-right: 1rem;
  margin: 0;

  display: -webkit-box;
  line-height: 0.9;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  padding-bottom: 0.07rem;
}

.focus {
  opacity: 1;
}

@media (min-width: 40rem) {
  .focus {
    background: #543bf110;
  }
}

.summary {
  font-size: 1.1rem;
  color: rgb(36, 34, 75);
  line-height: 0.8;
  padding-right: 1rem;
  margin: 0;

  display: -webkit-box;
  line-height: 1.1;
  -webkit-line-clamp: 8;
  line-clamp: 8;
  -webkit-box-orient: vertical;
  overflow: hidden;
  padding-bottom: 0.07rem;
}

.small {
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1;
  padding-top: 0.3rem;
  padding-right: 1rem;
  margin: 0;
  opacity: 0.75;
}

.row {
  display: flex;
  height: 2rem;
  align-items: center;
  gap: 0.5rem;
  padding: 0 1rem;
}

.wrapper:hover {
  border: 1px solid black;
}
