.wrapper {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50px;
  height: 1.5rem;
  display: flex;
  font-weight: 600;
  letter-spacing: 0.5px;
  font-size: 0.8rem;
  color: white;
  align-items: center;
  padding: 0 0.75rem 0 0.25rem;
  justify-content: center;
  line-height: 1;
}

.label {
  padding-left: 0.25rem;
}

.compact {
  display: none;
}

@media (min-width: 50rem) {
  .compact {
    display: block;
  }
}
