.wrapper {
  width: 1.25rem;
  height: 1.25rem;
  shape-rendering: geometricPrecision;
}

.wrapper.size-s {
  width: 0.9rem;
  height: 0.9rem;
}

.wrapper.size-xs {
  width: 0.75rem;
  height: 0.75rem;
}

.wrapper.importance-secondary {
  opacity: 0.75;
}

.inherit {
  color: inherit;
}
