---
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const array = await getCollection("categories");

  return array.map(({ id, data }) => ({
    params: { slug: id },
    props: { data },
  }));
}

const { label } = Astro.props.data;
---

<html>
  <head><title>{label}</title></head>
  <body>
    <a href="/">Home</a>
    <h1>{label}</h1>
    <pre>{JSON.stringify(Astro.props.data, null, 2)}</pre>
  </body>
</html>
