---
import { getCollection } from "astro:content";
import { Container } from "@/templates/Home";
const software = await getCollection("software");
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Purchase with Purpose</title>
  </head>

  <body>
    <Container software={software.map((x) => x.data)} client:load />
  </body>
</html>
