.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.padded {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.25rem;
  gap: 0.25rem;
}
