.wrapper {
  display: flex;
  padding: 1rem;
  margin: 1rem auto 10rem;
  flex-direction: column;
  max-width: calc(16rem * 5 + 2rem);
  margin: 0 auto;
  padding-bottom: 8rem;
  overflow: hidden;

  @media (min-width: 90rem) {
    gap: 2rem;
    padding: 2rem;
    flex-direction: row;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-grow: 1;
  padding-right: 0;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;

  @media (min-width: 90rem) {
    margin-top: 1rem;
    max-width: 25rem;
    gap: 4rem;
  }
}

.breadcrumbs {
  display: none;

  @media (min-width: 70rem) {
    display: block;
  }
}

.subtitle {
  font-size: 1.5rem;
  padding-left: 0.25rem;
  font-weight: 700;
  letter-spacing: 0;
  color: #24224b;
  padding-bottom: 0.15rem;
  margin: 1.25rem 0 -0.75rem 0.25rem;
}
