.wrapper {
  margin-bottom: 1rem;
  width: 100%;
  overflow: hidden;
  width: 100%;
  max-width: calc(16rem * 5);
  margin: 0 auto;
  padding: 2rem 1rem 3rem;
}

.toggle {
  cursor: pointer;
  color: #543bf1;
  background: none;
  border-width: 0;
  text-decoration: underline;
  height: 2rem;
  border-radius: 6px;
  font-weight: bold;
  font-family: inherit;
  padding: 0 0.5rem;
}

.toggle:hover {
  background: #f0eaff;
}

.title {
  font-size: 3.5rem;
  font-weight: 900;
  font-family: Inter, sans-serif;
  margin: 0;
  letter-spacing: -0.02em;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.description {
  margin: 0rem 0 1.25rem;
  max-width: 40rem;
  font-size: 1rem;
  opacity: 0.75;
}

.subtitle {
  font-size: 0.9rem;
  font-weight: 700;
  margin: 0 0 0.25rem;
  color: #24224b;
}

.content {
  display: flex;
  gap: 4rem;
  align-items: flex-start;
}

.image {
  height: 1.25rem;
  width: 1.25rem;
}

.icon {
  height: 2.25rem;
  width: 2.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  cursor: pointer;
  border: 1px solid #543bf125;
}

.icon:hover {
  border: 1px solid black;
}

.incumbents {
  display: flex;
  gap: 0.25rem;
}

.link {
  color: #543bf1;
  text-decoration: underline;
  display: inline-block;
  line-height: 1.25;
  font-size: 0.9rem;
  padding: 0.25rem 0.5rem;
  margin: -0.5rem;
  border-radius: 8px;
  width: auto;
}

.link:hover {
  background: #543bf120;
}

.resources {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 12rem;
  grid-template-rows: repeat(2, auto);
  white-space: nowrap;
}
