.wrapper {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  margin-top: 1.5rem;
  flex-wrap: wrap;
}

.tag {
  background: #e0eaf4;
  color: #003a5b;
  height: 2rem;
  border-radius: 8px;
  display: flex;
  font-size: 0.9rem;
  font-weight: 500;
  align-items: center;
  padding: 0 1rem;
}
