---
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const array = await getCollection("software");

  return array.map(({ id, data }) => ({
    params: { slug: id },
    props: { data },
  }));
}

const { label, description } = Astro.props.data;
---

<html>
  <head><title>{label}</title></head>

  <body>
    <h1>{label}</h1>
    <p>
      {description}
    </p>
  </body>
</html>
