.description {
  padding: 0;
}

.section {
  margin-bottom: 1rem;
  width: 100%;
  overflow: hidden;
  width: 100%;
  max-width: calc(16rem * 5);
  margin: 0 auto;
  padding: 2rem 1rem 3rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding-top: 0.5rem;
}

.subtitle {
  font-size: 1rem;
  font-weight: 700;
  margin: 0 0 0.25rem 0.25rem;
  color: #24224b;
  text-align: left;
}

@media (min-width: 60rem) {
  .subtitle {
    text-align: right;
  }
}

.rowItem {
  width: 100%;
  padding: 0.25rem;
}

@media (min-width: 40rem) {
  .rowItem {
    width: calc(100% / 2);
  }
}

@media (min-width: 75rem) {
  .rowItem {
    width: calc(100% / 4);
  }
}

.title {
  line-height: 1.1;
  font-size: 2.5rem;
  font-weight: 900;
  font-family: Inter, sans-serif;
  margin: 0 0 0.25rem;
  letter-spacing: -0.02em;
  border-bottom: 1px solid #24224b25;
  margin-bottom: 0.75rem;
}

@media (min-width: 40rem) {
  .name {
    font-size: 3rem;
  }
}

.icon {
  height: 2.25rem;
  width: 2.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  cursor: pointer;
  border: 1px solid #543bf125;
}

.icon:hover {
  border: 1px solid black;
}

.incumbents {
  display: flex;
  gap: 0.25rem;
}

.image {
  height: 1.25rem;
  width: 1.25rem;
}

.topRow {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-right: 0.25rem;
  flex-direction: column;
}

@media (min-width: 60rem) {
  .topRow {
    flex-direction: row;
  }
}

.right {
  transform: translateY(0.25rem);
}

.button {
  padding: 0.5rem 0.25rem;
  color: #543bf1;
  font-weight: 700;
  display: flex;
  align-items: center;
  border-radius: 6px;
  padding: 0.5rem 1.5rem;
  text-decoration: none;
  border: 1px solid #543bf1;
}

@media (min-width: 60rem) {
  .button {
    padding: 0.5rem 1rem;
  }
}

.button:hover {
  background: #543bf110;
}

.left {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 0;
  width: 100%;
}

.wrapper {
  padding-bottom: 14rem;
}

.name {
  font-size: 2.5rem;
  font-weight: 900;
  margin: 2rem 0 0;
  letter-spacing: -1px;
}

@media (min-width: 40rem) {
  .name {
    font-size: 4rem;
  }
}

.front {
  margin-bottom: 1rem;
  width: 100%;
  overflow: hidden;
  width: 100%;
  max-width: calc(16rem * 5);
  margin: 0 auto;
  padding: 2rem 1rem 3rem;
}

.paragraph {
  font-size: 1.1rem;
  max-width: 40rem;
}

.bold {
  font-weight: bold;
  font-size: 1.1rem;
  max-width: 40rem;
}
