.description {
  color: #252626;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.6;
}

.gallery {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.75rem;
  margin-bottom: 1rem;
  max-width: 55rem;

  @media (min-width: 40rem) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: 60rem) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.image {
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  height: 10rem;
  width: 100%;
  overflow: hidden;
}

.platforms {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  margin-top: 1.5rem;
  flex-wrap: wrap;
}

.tag {
  background: #e0eaf4;
  color: #003a5b;
  height: 2rem;
  border-radius: 8px;
  display: flex;
  font-size: 0.9rem;
  font-weight: 500;
  align-items: center;
  padding: 0 1rem;
}
