.description {
  padding: 0;
}

@media (min-width: 90rem) {
  .description {
    padding: 0 1rem;
  }
}

.gallery {
  display: flex;
  margin-bottom: 1rem;
  flex-wrap: wrap;
  width: 100%;
}

.imageWrapper {
  height: 8rem;
  width: 8rem;
  padding: 0.25rem;
}

@media (min-width: 90rem) {
  .imageWrapper {
    width: calc(100% / 3);
    height: 12rem;
  }
}

.image {
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  height: 10rem;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.025);
  object-fit: cover;
  object-position: center;
}

.platforms {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  margin-top: 1.5rem;
  flex-wrap: wrap;
}

.tag {
  background: #e0eaf4;
  color: #003a5b;
  height: 2rem;
  border-radius: 8px;
  display: flex;
  font-size: 0.9rem;
  font-weight: 500;
  align-items: center;
  padding: 0 1rem;
}

.grid {
  display: grid;
  gap: 0;
  grid-template-columns: 1fr;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  width: 100%;
  overflow: hidden;
}

@media (min-width: 90rem) {
  .grid {
    grid-template-columns: 1fr 1fr;
    margin-bottom: 0;
  }
}

.gridItem {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  padding-right: 2rem;
}

@media (min-width: 90rem) {
  .gridItem {
    border-right: 1px solid rgba(0, 0, 0, 0.05);
  }
}

.gridItem:nth-child(even) {
  border-right-width: 0;
}

.indicators {
  display: flex;
  flex-wrap: wrap;
  gap: 0;
  margin-top: -0.5rem;
  padding-bottom: 0.5rem;
}

@media (min-width: 90rem) {
  .indicators {
    gap: 1rem;
  }
}

.indicatorItem {
  width: 100%;
  background: white;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

@media (min-width: 90rem) {
  .indicatorItem {
    width: calc(100% / 3);
  }
}
